.home-page {
    font-family: Arial, sans-serif;
    text-align: center;
    color: black;
}

.header {
    background-color: #FDB7B9;
    color: black;
    padding-top: 10px;
    /* padding: 1rem; */
}


.header ul {
    background-color: #60BFC1;
    list-style: none;
    padding: 0;
    padding: 1rem;
}

.header ul li {
    display: inline;
    margin: 0 1rem;
}

.header ul li a {
    color: black;
    text-decoration: none;
}

.hero {
    /* background-color: #BADFD7; */
    padding: 2rem;
}

.services {
    /* background-color: #F7E3DB; */
    padding: 2rem;
}

.services ul {
    list-style: none;
    padding: 0;
}

.services ul li {
    margin: 0.5rem 0;
}